body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.btn {
  margin: 1rem;
  font-size: inherit;
  font-family: inherit;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.btn:hover {
  background-color: #e5e5e5;
}

.btn:focus {
  background-color: #fff;
  outline: 1px solid #ddd;
}

.input {
  margin: auto;
  padding: 0.5em;
  font-size: inherit;
  font-family: inherit;
}
