* {
  box-sizing: border-box;
  margin: 0;
}

.header {
  background-color: hsl(0, 50%, 50%);
  color: white;
  font-family: Helvetica;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.logo {
  display: flex;
  padding: 1rem;
}

.menu {
  display: flex;
  list-style: none;
}

.menu .menu-child {
  padding: 1rem;
}

.menu .menu-child:hover,
.menu .menu-child:focus {
  background-color: hsl(0, 50%, 70%);
  cursor: pointer;
}
