body {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    margin: 0;
}

.hero {
    background: #23424a;
    color: white;
    padding: 4rem 4rem;
}

.hero-content {
    width: 60%;
    max-width: 600px;
}

.hero p {
    font-weight: 400;
}

.hero .btn {
    background: #38cfd9;
    border: none;
    outline: none;
    padding: 1em 2em;
    border-radius: 1000px;
    margin-top: 2em;
    margin-bottom: 4em;
    font-weight: 700;
    text-transform: uppercase;
}

.hero .btn:hover {
    background: #136c72;
    cursor: pointer;
}
