* {
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  font-family: Montserrat;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.flex-container {
  max-width: 1200px;
  margin: 0 96px;
  min-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.logo {
  display: flex;
  height: 20px;
}

.enter-menu {
  height: 20px;
  margin-right: 8px;
  margin-left: 0;
  padding: 0;
}

.header {
  height: 100vh;
  display: flex;
  padding-bottom: 2rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1;
}

.menu {
  display: flex;
  height: 64px;
  flex-shrink: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 32px;
  padding: 0;
}

.menu-list a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.menu-list li {
  display: flex;
}

.btn {
  background-color: #fceae2;
  color: #ed713c;
  border-radius: 1000px;
  padding: 0.5em 1em;
  text-decoration: none;
}

.main-btn,
.secondary-btn {
  font-size: 1rem;
  margin-right: 1rem;
  padding: 1rem 1.5rem;
}

.btn.main-btn {
  background-color: #ed713c;
  color: white;
}

.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 1.5rem;
  /* padding-bottom: 2rem; */
}

.hero-left {
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
}

.hero-headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
}

.headline {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-weight: 600;
}

.header-buttons {
  margin-top: 1.5rem;
}

.hero-cities {
  flex-grow: 1;
}

.hero-cities {
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 100%;
  justify-content: flex-end;
  /* margin-bottom: 3rem; */
}

.city-collection {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: space-between;
}

.city-collection img {
  flex: 1 1 33%;
  max-width: 100%;
  border-radius: 12px;
}

.city-name {
  font-size: 1rem;
  font-weight: 600;
}

.city-name.city-passive {
  color: #7f8285;
}

.city-description.city-passive {
  color: #b5bbc6;
}

.city-description {
  font-size: 0.75rem;
  font-weight: 500;
  color: #8a94a6;
}

.hero-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  flex-grow: 0;
  background-image: url('./img/hero-image.png');
  border-radius: 1rem;
}

.hero-image img {
  object-fit: cover;
}

.hero-description {
  display: flex;
  align-items: end;
  background-color: white;
  margin: auto 1rem 1rem 1rem;
  padding: 2rem;
  border-radius: 1rem;
}

.hero-description h2,
.hero-description p {
  margin-right: 10%;
}

.hero-description-text-wrapper {
  flex-grow: 3;
}

.hero-description p {
  margin-top: 0.5rem;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #18191f;
}
